.rectangle6 {
  width: 1440px;
  height: 73px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #D93824;
  display: flex;
  flex-wrap: wrap;
}

.AliceInWonderlandByLewisCarroll {
  width: 666px;
  height: 51px;
  left: 10px;
  top: -4px;
  position: absolute;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.quick-nav {
  top: 23px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;

  text-align: center;
  color: white;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
}

.nav-style {
  height: 54px;
  top: 23px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.container {
  height: 80px;
  width: 80px;
  justify-content: center;
  align-items: center;
}